<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FuseX Quick Look Previews</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>net.sourceforge.projects.fuse-emulator.Cartridge</string>
				<string>net.sourceforge.projects.fuse-emulator.MassStorage</string>
				<string>net.sourceforge.projects.fuse-emulator.Snapshot</string>
				<string>net.sourceforge.projects.fuse-emulator.Tape</string>
				<string>net.sourceforge.projects.fuse-emulator.dck</string>
				<string>net.sourceforge.projects.fuse-emulator.dsk</string>
				<string>net.sourceforge.projects.fuse-emulator.hdf</string>
				<string>net.sourceforge.projects.fuse-emulator.img</string>
				<string>net.sourceforge.projects.fuse-emulator.mdr</string>
				<string>net.sourceforge.projects.fuse-emulator.mgt</string>
				<string>net.sourceforge.projects.fuse-emulator.mlt</string>
				<string>net.sourceforge.projects.fuse-emulator.opd</string>
				<string>net.sourceforge.projects.fuse-emulator.opu</string>
				<string>net.sourceforge.projects.fuse-emulator.raw</string>
				<string>net.sourceforge.projects.fuse-emulator.rzx</string>
				<string>net.sourceforge.projects.fuse-emulator.scl</string>
				<string>net.sourceforge.projects.fuse-emulator.scr</string>
				<string>net.sourceforge.projects.fuse-emulator.slt</string>
				<string>net.sourceforge.projects.fuse-emulator.sna</string>
				<string>net.sourceforge.projects.fuse-emulator.snp</string>
				<string>net.sourceforge.projects.fuse-emulator.sp</string>
				<string>net.sourceforge.projects.fuse-emulator.szx</string>
				<string>net.sourceforge.projects.fuse-emulator.tap</string>
				<string>net.sourceforge.projects.fuse-emulator.trd</string>
				<string>net.sourceforge.projects.fuse-emulator.tzx</string>
				<string>net.sourceforge.projects.fuse-emulator.z80</string>
				<string>net.sourceforge.projects.fuse-emulator.zxs</string>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>FusePreviewProvider</string>
	</dict>
</dict>
</plist>
